.header__switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--mainColor);
  padding: 4px 10px;
  cursor: pointer;
  margin-right: 16px;
  min-width: 94px;
  transition: 0.3s;

  span {
    font-size: 17px;
    font-weight: 600;
    margin-right: 8px;
    animation: fade 0.3s;
  }

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    animation: fade 0.3s;
    path {
      transition: 0.3s;
      fill: var(--bg2) !important;
      stroke: var(--bg2) !important;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .header__switch {
    margin-right: 25px;
  }
}