  $lightMainColor: #2d2e32;
  $lightSecondaryColor: #242424;
  $lightAdditionColor: rgba(255, 255, 255, 0.87);
  $lightHoverColor: #147efb;
  $lightBg: #fff;
  $lightBg2: #f9f9f9;
  $lightShadow: 0 0 10px rgba(0,0,0,.09);
  $lightContactColor: #767676;

  $darkMainColor: #faf9f9;
  $darkSecondaryColor: #ffffff;
  $darkAdditionColor: #2d2e32;
  $darkHoverColor: #147efb;
  $darkBg: #2d2e32;
  $darkB2: #29292c;
  $darkShadow: 0 0 10px rgba(200, 200, 200, 0.7);
  $darkContactColor: #faf9f9;
