footer {
  background-color: var(--mainColor);
  padding: 50px 0;
  width: 100%;
  transition: 0.3s;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: var(--additionColor);
      transition: 0.3s;
    }
    &__social {
      display: flex;
      align-items: center;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        transition: 0.3s;
        @media (any-hover: hover) {
          &:hover {
            transform: scale(1.20);
          }
        }
        a {
          display: flex;
          width: 100%;
        }
        svg {
          width: 100%;
          fill: var(--bg);
          transition: 0.3s;
        }
        &:last-child {
          margin-left: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .footer {
    flex-direction: column;
    h3 {
      text-align: center;
    }
    &__social {
      margin-top: 20px;
    }
  }
}