@import "./components/switch";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 25px 0;
  color: var(--secondaryColor);
  box-shadow: var(--shadow);
  background: var(--bg);
  user-select: none;
  transition: 0.3s;
  z-index: 200;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
  }
  &__actions {
    display: flex;
  }
  &__btn {
    display: none;
    cursor: pointer;
    svg {
      transition: 0.3s;
      path {
        fill: var(--bg2);
        transition: 0.3s;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  &__box {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    &-item {
      font-size: 17px;
      a {
        color: var(--mainColor);
        font-weight: 600;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          color: var(--hoverColor);
        }
      }
    }
    &-close {
      display: none;
      cursor: pointer;
      svg {
        path {
          stroke: var(--bg2);
          transition: 0.3s;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 20px 0;
  }
  .header {
    &__btn {
      justify-content: center;
      display: flex;
      align-items: center;
      span {
        display: flex;
      }
    }
  }
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg);
    transition: 0.5s;
    &._active {
      left: 0;
    }
    &__box {
      flex-direction: column;
      gap: 30px;
      &-item {
        a {
          font-size: 23px;
        }
      }
      &-close {
        position: absolute;
        top: 24px;
        right: 24px;

        display: block;
      }
    }
  }
}

